{% load  static %}

{% include 'botmaker/navbar.html' %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Profile page</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <a href=""  class="btn btn-success pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Chat with {{ bot_profile.name }}</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Bot Profile</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="{% static 'plugins/images/bot.png' %}" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">{{ bot_profile.name }}</h4>
                                        <h5 class="text-white">{{ bot_profile.description }}   </h5> </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-8 col-xs-8 pull-right">
                                <div class="">
                                    <div class="user-content">
                                        <a href="" class="btn btn-success  hidden-xs hidden-sm waves-effect waves-light">Train {{ bot_profile.name }}</a>
                                        <a href="" class="btn btn-success  pull-center hidden-xs hidden-sm waves-effect waves-light">Edit Bot Details</a>
                                        <a href="" class="btn btn-success  pull-center hidden-xs hidden-sm waves-effect waves-light">View Bot Statistics</a>
                                    </div>
                                </div><br><br><br>

                            </div>
                        <div class="row">
                            <div class="col-md-5 col-lg-5">
                        <div class="white-box">
                            <h3 class="box-title">Quick Bots User Info</h3>
                              {% if bot_user %}
                                 <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>NAME</th>
                                            <th>STATUS</th>
                                            <th>DATE CREATED</th>
                                            <th>MESSAGES SHARED</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td class="txt-oflo">Elite admin</td>
                                            <td>SALE</td>
                                            <td class="txt-oflo">April 18, 2017</td>
                                            <td><span class="text-success">$24</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                                {% else %}
                                  <h1>No active user</h1>
                            {% endif %}
                        </div>
                    </div>
                            <div class="col-md-5 col-lg-4">
                               <div class="white-box">
                            <h3 class="box-title">Recent Messages</h3>
                            <div class="comment-center p-t-10">
                                <div class="comment-body">
                                    <div class="user-img">
                                         {% if messages %}
                                             {% for message in messages %}
                                             <div class="mail-contnet">
                                        <h5>{{ message.user }}</h5><span class="time">{{  message.date_time }}</span>
                                        <br/><span class="mail-desc">
                                             {{ message.text }}</span> <a href="javacript:void(0)" class="btn btn btn-rounded btn-default btn-outline m-r-5"><i class="ti-check text-success m-r-5"></i>Approve</a><a href="javacript:void(0)" class="btn-rounded btn btn-default btn-outline"><i class="ti-close text-danger m-r-5"></i> Reject</a>
                                    </div>
                                             {% endfor %}
                                        {% else %}
                                  <h1>No recent messages</h1>
                            {% endif %}
                                    </div>

                                </div>
                            </div>
                        </div>
                            </div><div class="col-md-5 col-lg-2">
                            <div class="panel">
                            <div class="sk-chat-widgets">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        User Listing
                                    </div>
                                    <div class="panel-body">
                                        <ul class="chatonline">
                                            <li>
                                                <div class="call-chat">
                                                    <button class="btn btn-success btn-circle btn-lg" type="button"><i class="fa fa-phone"></i></button>
                                                    <button class="btn btn-info btn-circle btn-lg" type="button"><i class="fa fa-comments-o"></i></button>
                                                </div>
                                                <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/varun.jpg' %}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>

{% include 'botmaker/footer.html' %}