{% load  static %}

{% include 'botmaker/navbar.html' %}

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Bot List</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Create Bot</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                {% if bot_list  %}
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Full Bot List</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>NAME</th>
                                            <th>STATUS</th>
                                            <th>CATEGORY</th>
                                            <th>DATE CREATED</th>
                                            <th>MESSAGES COUNT</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for detail in bot_list  %}
                                        <tr>
                                            <td class="txt-oflo">{{detail.name}}</td>
                                            <td>{{detail.status}}</td>
                                            <td>{{detail.categories}}</td>
                                            <td class="txt-oflo">{{detail.created_on}}</td>
                                            <td><span class="text-success">{{detail.message_count}}</span></td>
                                            <td>
                                            <div class="">
                                                        <a href="{% url "profile" %}?bot={{detail.id}}"  class="btn btn-success waves-effect waves-light">View Bot Profile</a>
                                            </div>
                                            </td>
                                        </tr>
                                        {% endfor  %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                    {% else %}
                      <h3>No bot has been created</h3>
                 {% endif  %}

                <!-- /.row -->
            </div>

{% include 'botmaker/footer.html' %}